body {
  background-color: #1c2431;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

body h1 {
  font-family: 'Raleway', sans-serif;
}

body p {
  color: #b4b4b4;
}

body, header, main, footer, h1, h2, h3, h4, h5, h6, p, span, a, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

nav {
  padding: 4rem 5rem 36rem;
  background: url("../images/illustration-intro.png") no-repeat bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .brand {
  height: 52px;
  width: 176px;
  background: url("../images/logo.svg") no-repeat;
}

nav #navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav #navbar-menu li {
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #navbar-menu li a {
  color: #b4b4b4;
}

nav #navbar-menu li a:hover {
  color: white;
  font-weight: 700;
  text-decoration: underline;
}

main {
  position: relative;
  text-align: center;
}

main #heading {
  padding: 3.5rem 0 12rem;
  background: url("../images/bg-curvy-desktop.svg") no-repeat center bottom -5px;
  background-size: 100%;
}

main #heading .heading-container {
  width: 675px;
  margin: 0 auto;
}

main #heading .heading-container h1 {
  line-height: 3rem;
}

main #heading .heading-container .intro {
  width: 70%;
  margin: 1.5rem auto;
  line-height: 1.5rem;
}

main #heading .heading-container button {
  padding: 1rem 5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(left, #65e2d9, #339ecc);
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

main #heading .heading-container button:hover {
  background-color: #65e2d9;
  background-image: none;
}

main #application {
  background-color: #181f2a;
}

main #application .application-container {
  width: 100%;
  margin: 0 auto;
  background-color: #181f2a;
}

main #application .application-container li {
  width: 360px;
  margin-top: 5rem;
  padding: 5.5rem 7rem 0;
  background-position: top;
  background-repeat: no-repeat;
  display: inline-block;
}

main #application .application-container li h2 {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
}

main #application .application-container li:nth-child(1) {
  background-image: url("../images/icon-access-anywhere.svg");
}

main #application .application-container li:nth-child(2) {
  background-image: url("../images/icon-security.svg");
}

main #application .application-container li:nth-child(3) {
  background-image: url("../images/icon-collaboration.svg");
}

main #application .application-container li:nth-child(4) {
  background-image: url("../images/icon-any-file.svg");
}

main #stay-productive {
  background-color: #181f2a;
}

main #stay-productive .container {
  padding: 15rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #stay-productive .container .illustration {
  height: 30rem;
  width: 38.5rem;
  background: url("../images/illustration-stay-productive.png") no-repeat center left;
}

main #stay-productive .container .content {
  width: 35rem;
  text-align: start;
}

main #stay-productive .container .content h2 {
  font-size: 2rem;
}

main #stay-productive .container .content p {
  margin: 1.5rem 0;
}

main #stay-productive .container .content a {
  color: #65e2d9;
  position: relative;
}

main #stay-productive .container .content a span:nth-child(2) {
  height: 1px;
  width: 100%;
  background-color: #65e2d9;
  position: absolute;
  bottom: -5px;
  left: 0;
}

main #stay-productive .container .content a:hover {
  color: white;
}

main #stay-productive .container .content a:hover span:nth-child(2) {
  background-color: white;
}

main #comment-section {
  padding: 15rem 0 22.5rem;
  background: #181f2a url("../images/bg-quotes.png") no-repeat top 12.5rem left 11.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #comment-section .comment-container .comment-item {
  width: 20rem;
  padding: 2.25rem 1.25rem;
  background-color: #202a3c;
  -webkit-box-shadow: 5px 5px 7px #1c2431;
          box-shadow: 5px 5px 7px #1c2431;
  display: inline-block;
  text-align: start;
}

main #comment-section .comment-container .comment-item .user {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #comment-section .comment-container .comment-item .user img {
  margin-right: 0.5rem;
  height: 1.75rem;
  border-radius: 100px;
}

main #comment-section .comment-container .comment-item .user div .user-name {
  font-weight: 700;
}

main #comment-section .comment-container .comment-item .user div .user-info {
  font-size: 0.75rem;
}

main #comment-section .comment-container .comment-item:nth-child(2) {
  margin: 0 1.5rem;
}

main #CTA {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  z-index: 10;
}

main #CTA .container {
  width: 825px;
  margin: 0 auto;
  padding: 3.25rem 4.5rem;
  background-color: #1c2431;
  border-radius: 15px;
}

main #CTA .container h2, main #CTA .container p {
  margin-bottom: 2.25rem;
}

main #CTA .container p {
  padding: 0 7rem;
}

main #CTA .container div {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #CTA .container div input {
  width: 225%;
  padding: 1rem 2rem;
  border-radius: 50px;
  outline: none;
}

main #CTA .container div button {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  padding: 1rem 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(left, #65e2d9, #339ecc);
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

main #CTA .container div button:hover {
  background-color: #65e2d9;
  background-image: none;
}

main #CTA .container div p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  grid-row: 2;
}

main #CTA .container .email-error {
  margin: 0;
  padding: 0;
  color: #ff4242;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  main #application .application-container li {
    padding: 5.5rem 3.5rem 0;
  }
  main #stay-productive .container {
    padding: 10rem 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #stay-productive .container .content {
    width: 35rem;
    margin-top: 3rem;
  }
  main #comment-section {
    background: #181f2a url("../images/bg-quotes.png") no-repeat top 15.5rem left 11.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #comment-section .comment-container .comment-item {
    margin-top: 3rem !important;
  }
  main #CTA .container {
    width: 550px;
    padding: 3.25rem 3.5rem;
  }
  main #CTA .container p {
    padding: 0 3.5rem;
  }
  main #CTA .container div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #CTA .container div input {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: auto;
  }
  main #CTA .container div button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    grid-row: 3;
    width: 100%;
    margin-top: 1.75rem;
  }
  main #CTA .container div p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

footer {
  padding: 12.25rem 5rem 0;
  background-color: #0b1523;
  display: -ms-grid;
  display: grid;
}

footer .container {
  display: -ms-grid;
  display: grid;
}

footer .container .brand {
  margin-bottom: 2rem;
  height: 52px;
  width: 176px;
  background: url("../images/logo.svg") no-repeat;
}

footer .container .website-info {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1rem;
}

footer .container .website-info .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .website-info .contact .location {
  width: 60%;
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .website-info .contact p {
  margin-bottom: 1rem;
}

footer .container .website-info .contact p span {
  margin-right: 0.5rem;
}

footer .container .website-info .more-info {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

footer .container .website-info .more-info a {
  width: 45%;
  margin-bottom: 1rem;
  color: white;
  display: inline-block;
}

footer .container .website-info .social-media {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

footer .container .website-info .social-media a {
  padding: 0.5rem;
  border: white solid 1px;
  border-radius: 50px;
  color: white;
}

footer .container .website-info .social-media a svg {
  height: 18px;
  width: 18px !important;
}

footer .container .website-info .social-media a:nth-child(2) {
  margin: 0 0.5rem;
}

footer .container .website-info .social-media a:hover {
  color: #65e2d9;
  border-color: #65e2d9;
}

footer .container .attribution {
  margin-top: 2rem;
}

@media only screen and (max-width: 1200px) {
  footer {
    padding: 14.25rem 5rem 0;
  }
  footer .container .website-info {
    grid-column-gap: 0;
    grid-row-gap: 1rem;
  }
  footer .container .website-info .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .website-info .contact .location {
    width: 100%;
    margin: 0 0 1rem 0;
  }
  footer .container .website-info .more-info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  footer .container .website-info .more-info a {
    display: block;
  }
  footer .container .website-info .social-media {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */