// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$body-background: rgb(28, 36, 49);
$button-background: linear-gradient(left, rgb(101, 226, 217), rgb(51, 158, 204));
$button-hover-background: rgb(101, 226, 217);
$comment-item-background: rgb(32, 42, 60);
$comment-item-border: rgb(28, 36, 49);
$CTA-background: rgb(28, 36, 49);
$footer-background: rgb(11, 21, 35);
$main-background: rgb(24, 31, 42);
$word-color-1: rgb(255, 255, 255);
$word-color-2: rgb(180, 180, 180);
$word-color-3: rgb(101, 226, 217);
$word-color-4: rgb(255, 66, 66);