body {
    background-color: $body-background;
    color: $word-color-1;
    font-family: 'Open Sans', sans-serif;

    h1 {
        font-family: 'Raleway', sans-serif;
    }

    p {
        color: $word-color-2;
    }
}